* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
  cursor: pointer;
}

#logout-button {
  background-color: #0f4c5c;
  color: #FFFFFF;
}

.table-hover tbody tr th {
  background-color: #FFFFFF;
}

.table-hover tbody tr:hover td {
  background-color: #0f4c5c;
}

.table-hover tbody tr:hover td a {
  color: #FFFFFF;
}

.table-hover tbody tr:hover td {
  color: #FFFFFF;
}