tbody {
    background-color: white;
}

.ticket-container {
    margin: 5vh;
}

.ticket-container Input {
    margin: .25em .5em 0 1.5em;
}

.ticket-container Label {
    font-size: 11pt;
}

.ticket-container h4 {
    font-size: 15pt;
    margin-bottom: 1em;
}

.tickets-table-row {
    margin-top: 2vh;
}

.all-tickets-data a {
    text-decoration: none;
    color: #000000;
}