tbody {
    background-color: white;
}

.ticket-filters {
    margin: 5vh 0 2vh 0;
}

.ticket-filters Input {
    margin: .25em .5em 0 1.5em;
}

.ticket-filters Label {
    font-size: 11pt;
}

.ticket-filters h4 {
    font-size: 15pt;
    margin-bottom: 1em;
}

.all-tickets-data a {
    text-decoration: none;
    color: #000000;
}