.hide{
    display: none;
}
.show{
    display: table;
}
.button-bar{
    display: flex;
    justify-content: space-around;
}
.dropdown{
    z-index: 1000000;
    overflow: visible;   
  overflow-y: visible; 
 
}
