.hide {
    display: none;
}

.show {
    display: table;
}


#one-ticket-container {
    margin-top: 4vh;
}

.button-bar Button {
    margin: 2vw 0 2vw 0;
}

#vendor-hold-form {
    width: 350px;
    color: gray;
}

#one-ticket-data-table {
    margin-top: 3vh;
}

#edit-ticket-form {
    margin: 0;
    padding: 0 2vw 2vw 2vw;
    border-radius: 10px;
    box-shadow: 10px 10px 30px -10px rgb(146, 145, 145);
    max-height: 75vh;
    overflow: auto;
}