.hide {
    display: none;
}

.show {
    display: table;
}

.button-bar {
    display: flex;
    justify-content: space-around;
    margin: 3vh 0 5vh 0;
}

#vendor-hold-form {
    width: 60vw;
    color: gray;
}