.create-user-container {
    padding: 1vw;
}

.create-user-row {
    justify-content: space-evenly;
}

tbody{
    background-color: white;
}
.toggletitle{
    display: flex;
    justify-content: right;
    justify-content: space-between;
}

