.create-user-container {
    margin-top: 3vh;
    padding: 1vw;
}

.create-user-row {
    justify-content: space-evenly;
}

tbody {
    background-color: white;
}

#display-only-checkbox:checked {
    background-color: black;
}

#display-only-checkbox-2:checked {
    background-color: black;
}