#edit-add-fields-row {
    margin-top: 5vh;
}

#edit-add-fields-row h4 {
    margin-bottom: 2vh;
}

.add-field-form {
    flex-direction: column;
    margin-left: 10vw;
}

.add-field-form input:not(:nth-last-of-type(-n+2)) {
    min-width: 150px;
}

#fieldType {
    min-width: 150px;
    height: 2.5em;
    text-align: center;
}

#add-custom-field-button {
    margin-top: 5vh;
    align-self: center;
}