* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#login-container {
    text-align: center;
}

#login-container Label {
    margin-top: 4vh;
    text-align: center;
}

#login-container Input {
    margin-top: 1vh;
    text-align: center;
}

#login-button {
    margin-top: 4vh;
    background-color: #0f4c5c;
    color: #FFFFFF;
}